body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.white-font {
    color: #f9faf8;
}

.light-white-font {
    color: #e5e7eb;
}

.section-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    gap: 25px;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
}

.hero {
    margin: 125px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-heading {
    font-size: 60px;
    line-height: 60px;
}

.subtext {
    font-size: 24px;
    margin-top: -25px;
}

button {
    background-color: #3882f6;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 35px;
    border: none;
    border-radius: 8px;
    width: max-content;
    max-width: 100%;
}

.hero-right {
    width: 575px;
    height: auto;
    border: 5px solid #e5e7eb;
    border-radius: 8px;
}