body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.white-font {
    color: #f9faf8;
}

.light-white-font {
    color: #e5e7eb;
}

.section-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    gap: 20px;

}

ul, a {
    text-decoration: none;
    list-style-type: none;
}

button {
    background-color: #3882f6;
    font-weight: bold;
    padding: 8px 22px;
    border: 3px solid #e5e7eb;
    border-radius: 8px;
    width: max-content;
    max-width: 100%;
}

.hero-right {
    width: 500px;
    height: auto;
    border: 5px solid #e5e7eb;
    border-radius: 8px;
}